.box-fisarmonica {
    background: [Colore Sfondo Contenitore|var(--trasparent)];
    padding: [Padding Contenitore|var(--spaces-m) var(--spaces-m) var(--spaces-m) var(--spaces-m)];

    §TABLET§ {
        padding: [Padding Contenitore Tablet|var(--spaces-s) var(--spaces-s) var(--spaces-s) var(--spaces-s)];
    }

    §MOBILE§ {
        padding: [Padding Contenitore Mobile|var(--spaces-s) var(--spaces-s) var(--spaces-s) var(--spaces-s)];
    }

    &__list {
        display: flex;

        §TABLET§ {
            flex-direction: column;
        }
    }

    &__cnt {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        opacity: 0;
        pointer-events: none;
        transition: opacity .1s ease;
        padding: [Padding Scheda|var(--spaces-s) var(--spaces-0) var(--spaces-s) var(--spaces-s)];
        z-index: 3;
        display: flex;

        [Allineamento Contenuto Scheda] 
        
        §TABLET§ {
            padding: [Padding Scheda Tablet|var(--spaces-s) var(--spaces-0) var(--spaces-s) var(--spaces-s)];
        }

        §MOBILE§ {
            padding: [Padding Scheda Mobile|var(--spaces-s) var(--spaces-0) var(--spaces-s) var(--spaces-s)];
        }
    }

    &__item {
        --schedaWidth: [Larghezza Scheda Chiusa Desktop|180px];
        height: 80vh;
        width: var(--schedaWidth);
        transition: width .65s ease;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        §TABLET§ {
            width: 100%;
            height: [Altezza Scheda Chiusa Tablet|100px];
            transition: height .65s ease;
        }

        §MOBILE§ {
            height: [Altezza Scheda Chiusa Mobile|100px];
        }

        &.active {
            width: calc(100% - (var(--schedaWidth) * (var(--count) - 1)));
            cursor: initial;

            §TABLET§ {
                height: 70vh;
                width: 100%;
            }

            &::after {
                background: [Sfumatura Scheda Aperta|rgba(0, 0, 0, .5)];

                §TABLET§ {
                    background: [Sfumatura Scheda Aperta Tablet|rgba(0, 0, 0, .5)];
                }
            }

            .box-fisarmonica__cnt {
                opacity: 1;
                pointer-events: auto;
                transition: opacity .5s ease .3s;
            }

            .box-fisarmonica__pic--closed {
                opacity: 0;
                transition: opacity 0s;
            }

            .box-fisarmonica__title--vert {
                opacity: 0;
                transition: opacity 0s;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: [Sfumatura Scheda Chiusa|rgba(0, 0, 0, .5)];
            transition: background .65s ease;

            §TABLET§ {
                background: [Sfumatura Scheda Chiusa Tablet|rgba(0, 0, 0, .5)];
            }
        }
    }

    &__pic {
        height: 100%;
        position: absolute;
        width: calc(var(--wrapper-width) - var(--schedaWidth) * (var(--count) - 1));
        top: 0;
        left: 0;

        §TABLET§ {
            height: 70vh;
            width: 100%;
        }

        &--closed {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity .3s ease .2s;
        }
    }

    picture,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__title {
        [Formattazione Titolo] 
        
        §TABLET§ {
            [Formattazione Titolo Tablet]
        }

        &--vert {
            position: absolute;
            writing-mode: sideways-rl;
            height: 100%;
            bottom: 0;
            left: 50%;
            transform: rotate(180deg) translateX(50%);
            transition: opacity .5s ease .25s;
            z-index: 2;
            padding: [Padding Titolo Scheda Chiusa|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];

            [Formattazione Titolo Scheda Chiusa] 
            
            §TABLET§ {
                writing-mode: unset;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: fit-content;
                padding: [Padding Titolo Scheda Chiusa Tablet|var(--spaces-0) var(--spaces-0) var(--spaces-0) var(--spaces-0)];

                [Formattazione Titolo Scheda Chiusa Tablet]
            }
        }
    }

    &__subtitle {
        max-width: [Larghezza Massima Sottotitolo|none];
        padding: [Padding Sottotitolo|var(--spaces-xs) var(--spaces-0) var(--spaces-0) var(--spaces-0)];

        [Formattazione Sottotitolo] 
        
        §TABLET§ {
            padding: [Padding Sottotitolo Tablet|var(--spaces-xs) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
            [Formattazione Sottotitolo Tablet]
        }
    }

    &__text {
        padding: [Padding Testo|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
        max-width: [Larghezza Massima Testo|none];

        [Formattazione Testo] 
        
        §TABLET§ {
            padding: [Padding Testo Tablet|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
            [Formattazione Testo Tablet]
        }
    }

    &__links {
        gap: [Spaziatura Link|var(--spaces-s)];
        padding: [Padding Link|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
        flex-wrap: wrap;
        display: flex;
        justify-content: [Allineamento Link|flex-start]; 
        
        §TABLET§ {
            padding: [Padding Link Tablet|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
        }
    }
}