// Colore principale Agile
$agile-pink: #e10098;

// Tipografia
$body-font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;

// Colori principali del tema
$link-color: $agile-pink;
$btn-primary-color: $agile-pink;
