.blocco-testuale {
    /*
    margin: 0 auto;
    text-align: [Allineamento Generale|left];
    
    &.right {
        .blocco-testuale__titles,
        .blocco-testuale__texts {
            margin-left: auto;
            margin-right: 0;
        }
    }
    &.left {
        .blocco-testuale__titles,
        .blocco-testuale__texts {
            margin-left: 0;
            margin-right: auto;
        }
    }
    &.center {
        .blocco-testuale__titles,
        .blocco-testuale__texts {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    §MOBILE§ {
        text-align: [Allineamento Generale Mobile|left];
    }
    */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat([Layout a Colonne|1], 1fr);
    
    &.dx {
        & > div {
            grid-column: 2;
        }
    }
    
    &__titles {
        max-width: [Larghezza Titoli|var(--size-m)];
        display: flex;
        flex-direction: column;
        
        &.reverse {
            flex-direction: column-reverse;
        }
    }
    
    &__title {
        text-transform: [Trasformazione Titolo old|none];
        padding: [Padding Titolo|var(--spaces-0) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
        
        .title {
            [Formattazione Titolo];
        }
    }
    
    &__subtitle {
        text-transform: [Trasformazione Sottotitolo old|none];
        padding: [Padding Sottotitolo|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
        
        .subtitle {
            [Formattazione Sottotitolo];
        }
    }
    
    &__texts {
        max-width: [Larghezza Contenuto|var(--size-m)];
    }
    
    &__text {
        padding: [Padding Testo|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)]; 
        
        .text {
            column-count: [Colonne Testo|1];
            [Formattazione Testo];
        }
    }
    
    &__ctas {
        text-align: [Allineamento Bottoni|inherit];
        padding: [Padding Bottoni|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
    }
} 