.base-offers-slider {
    text-align: [Text Align|center];
    background: [Background Inner|var(--trasparent)];
    padding: [Padding Inner|var(--spaces-0) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
    [Bordo inner]
    §MOBILE§{
        padding: [Padding Inner Mobile|@propAsDefault("Padding Inner","var(--spaces-0) var(--spaces-0) var(--spaces-0) var(--spaces-0)")];
    }
    
    
    &__content {
        
        &.boxed {
            max-width: [Boxed Size|var(--size-l)];
            padding: [Padding Contenuto|var(--spaces-0) var(--spaces-m) var(--spaces-0) var(--spaces-m)];
        }
        
        &__text {
            padding: [Padding Testo|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
            [Formattazione Testo]
        }
        &__titles {
            display: flex;
            flex-direction: column;
            
            &.reverse {
                flex-direction: column-reverse;
            }
            
            &__title {
                padding: [Padding Titolo|var(--spaces-0) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
                [Formattazione Titolo]
            }
            
            &__subtitle {
                padding: [Padding Sottotitolo|var(--spaces-0) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
                [Formattazione Sottotitolo]
            }
        }
    }
    
    .swiper-slide {
        position: relative;
        width: calc([Larghezza Slide|60vw] - [Slide Gap|1rem]);
        margin-left: calc([Slide Gap|1rem] / 2);
        margin-right: calc([Slide Gap|1rem] / 2);
        height: auto;
        background-color: [Sfondo Slide|transparent];
        
        & > div {
            width: 100%;
            transition: transform 1s;
            transform: scale([Scale Factor|1]);
        }
        
        &-active {
            background-color: [Sfondo Slide Corrente|transparent];
            transition: background-color 1s;
            
            & > div {
                transform: scale(1);
            }
        }
        
        §MOBILE§ {
            width: 100%;
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: calc(-0.5 * [Slide Gap|1rem]);
            width: [Separatore Dimensione|0px];
            height: 100%;
            background: [Separatore Colore|transparent];
            
            §MOBILE§ {
                display: none;     
            }
        }
        
        &.no-border {
            &:after {
                display: none;
            }
        }
    }
    
    .swiper-container {
        width: 100%;   
    }
    
    .swiper-wrapper {
        display: flex;
        height: auto;
        
        &[data-length="1"] {
            justify-content: center;
        }
    }
    
    &__slides {
        
    }
    
    &__list {
        background: [Background Slider|var(--trasparent)];
        &.boxed {
            
            padding: [Padding Slider|var(--spaces-l) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
            max-width: [Boxed Size Slider|var(--size-l)]   
        }
    }
    
    &__nav {
        text-align: center;
        font-size: [Dimensione Frecce|var(--font-b)];
        color: [Colore Frecce|var(--dark)];
        display: flex;
        align-items: center;
        justify-content: center;
        [Formattazione Frecce]
        
        
        
        &--bottom-left {
            display: block;
            text-align: left;
            
            §MOBILE§ {
                text-align: center;
            }
        }
        
        span {
            display: inline-block;
            padding: 0rem 1rem;
            cursor: pointer;
            
            &:last-child {
                transform: scaleX(-1);
            }
            
            i, svg {
                [Stile Icone]
            }
        }
    }
    
    &__buttons {
        padding: [Padding Bottone|var(--spaces-s) var(--spaces-0) var(--spaces-0) var(--spaces-0)];
        text-align: [Allineamento Pulsante|center];
    }
}