.base-breadcrumb {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: [Allineamento Elementi|flex-start];
    flex-wrap: wrap;
    [Formattazione Testo|text-transform:lowercase;font-size:var(--font-b);font-family:var(--font-titles);color:var(--dark);]
    
    svg {
        [Stile Icona|font-size:var(--font-b);] 
    }
    
    &.arrows {
        li {
            &:before {
                content: ">";
            }
        }
    }
    
    ul {
        margin: 0rem;
        padding: 0rem;
    }
    
    ul, li {
        display: inline-flex;
        align-items: center;
        justify-content: [Allineamento Elementi|flex-start];
        list-style-type: none;
        list-style-position: inside;
        flex-wrap: wrap;
    }
    
    li {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        
        &:before {
            content: '/';
            padding-right: 0.5rem;
        }
        
        &:has(a:empty) {
            display: none;
        }
        
        &:last-child {
            a {
                [Formattazione Testo Voce Corrente]
            }
        }
    }
    
    a {
        [Formattazione Testo|color:var(--dark);]
    }
    
    &.boxed {
        max-width: [Larghezza|var(--size-l)];
    }
}